.mag-container {
  height: 100%;
  width: 100%;
}

.mag-image {
  position: absolute;
}

#little {
  z-index: 1;
}

#magnify {
  z-index: 3;
}

#overlay{
  position: absolute;
  background-image: url("/img/edspective-mag-v2.png");
  z-index: 2;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 50%;
}

.mag-hidden {
  display: none;
}
